.songResult {
    cursor:pointer;
    display: flex;
    text-align: left;
}
.songResult .title {
    font-weight: bold;
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.added {
    background: lightgreen;
}
body {
    background: #00aced;
    font-family: arial;
}
img {
    display: inline-block;
    margin-right: 10px;
}
h1 {
    line-height: 50px;
  color: #fff;

}

#addButton {
    margin-bottom: 20px;
}

/** Dialog **/
#addDialog {
    position: absolute;
    background-color: #fff;
    left: 50px;
    right: 50px;
    top: 50px;
    padding: 20px;
}
#addDialogClose {
    position: absolute;
    right: 0;
    top: 0;
}
.search-container {
    padding-top: 20px;
}