.songResult {
    cursor:pointer;
    display: flex;
    text-align: left;
}
.songResult .title {
    font-weight: bold;
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.added {
    background: lightgreen;
}
body {
    background: url(../images/planks.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: hard-light;
    background-color: #00aced;
    font-family: arial;
}
img {
    display: inline-block;
    margin-right: 10px;
}
h1 {
    line-height: 50px;
    font-size: 40px;
  color: #333;
    font-family: 'Pacifico', cursive;

}

#addButton {
    margin-bottom: 20px;
}

/** Dialog **/
#addDialog {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20px;
    padding: 0px;
}
#addDialogClose {
    position: absolute;
    right: 0;
    top: 0;
}
.search-container {
    padding-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}
.overlay-wrapper{
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 5px;
    padding: 40px 40px 20px;

}
.search-header {
    width: 100%;
    border-bottom: 1px solid #00aced;
    padding-bottom: 40px;
}
input#search {
    width: 75%;
    margin-left: 2%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #00aced;
    font-size: 16px;
    text-indent: 20px;
}
#search-container {
    padding-top: 20px;
}

.queue {
    max-width: 700px;
    margin: 0 auto;
}
.queue strong {
    line-height: 40px;
    font-size: 30px;
    color: #333;
    font-family: 'Pacifico', cursive;
    padding: 40px 0;
}