.songResult {
    cursor:pointer;
    display: flex;
    text-align: left;
}
.songResult .title {
    font-weight: bold;
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.added {
    background: lightgreen;
}
body {
    background: #00aced;
    font-family: arial;
}
img {
    display: inline-block;
    margin-right: 10px;
}
h1 {
    line-height: 50px;
  color: #fff;

}