// Header

header {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 550px;
  left: 50%;
  margin-left: -275px;
  text-align: center;
  transition: top 0.3s linear;
  &.scrolled {
    top: -120px;
  }
}
.masthead {
  background: url(../images/header.png) center top no-repeat;
  height: 90px;
  padding-top: 35px;
  position: relative;
  z-index: 5;
}
h1 {
  line-height: 50px;
  font-size: 34px;
  font-family: 'Pacifico', cursive;
  color: #fff;
  margin: 0;
}
#addButton {
  width: 400px;
  margin: 36px auto 40px;
  display: block;
  border: 2px solid #fff;
  position: relative;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-size:18px;
  background: #e7466f;
  cursor: pointer;
  font-family: $pacifico;
  transition: background 0.3s linear;
  &:hover {
    background: #6bc874;
  }
}