body {
  background: url(../images/planks.jpg) no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: #227fde;
  font-family: "Helvetic Neue";
  margin: 0;
  padding: 0;
}
#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
img {
  display: inline-block;
  margin-right: 10px;
}


/* Button styles */

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}
#addDialogClose {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer !important;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #227fde;
  font-family: 'Pacifico', cursive;
  line-height: 40px;
  color: #fff;
  padding: 0;
}
#addDialogClose:hover {
  background-color: #6bc874;
}

/* Footer */

#footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  line-height: 2em;
  font-family: 'Pacifico', cursive;
  left:0;
}
.github-icon {
  position: fixed;
  bottom: 5px;
  display: none;
  right: 5px;
  width: 40px;
  cursor: pointer;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  border: 1px solid #fff;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(../images/github.png);
}
.github-banner img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin-right:0;
}

/* Keyframes for animation */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@import "header";
@import "mediaControls";
@import "search";
@import "queue";