# Caches
.phpunit.result.cache
/.phpunit.cache

# Secrets
auth.json
.env
/storage/*.key

# Logs
npm-debug.log
yarn-error.log

# PHPStorm
.idea

# Dependencies
/node_modules/
/vendor/

# Octane
rr
.rr.yaml
