// Media Buttons

.media-controls {
  background: url(../images/vinyl.png) no-repeat bottom center;
  padding: 20px 0 55px;
  position: absolute;
  top: 160px;
  left: 0%;
  width: 100%;
}

.btn.media {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $blue;
  transition: background 0.3s linear;
  &.active,
  &:hover {
    background-color: $green;
  }
  &[disabled] {
    &.active,
    &:hover {
      background-color: $blue;
      cursor: default;
    }
  }
}

button {
  &[disabled] {
    opacity: 0.4;
    cursor: default;
  }
}
#playButton {
  background-image: url(../images/play.png);
}
#pauseButton {
  background-image: url(../images/pause.png);
}
#rewindButton {
  background-image: url(../images/rewind.png);
}
#forwardButton {
  background-image: url(../images/forward.png);
}
#volupButton {
  background-image: url(../images/vol-up.png);
}
#voldownButton {
  background-image: url(../images/vol-down.png);
}
#shuffleButton {
    background-image: url(../images/shuffle.png);
}
