[Unit]
Description=Jukebox HTTP server

[Service]
Type=simple
User={{ UID }}
Group={{ UID }}
WorkingDirectory={{ PWD }}
ExecStart=php artisan octane:start
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
