[Unit]
Description=Jukebox Download Worker
After=network.target

[Service]
Type=simple
User={{ UID }}
Group={{ UID }}
WorkingDirectory={{ PWD }}
Nice=-5
ExecStart=/usr/bin/php bin/download-worker.php
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
