[Unit]
Description=Jukebox VLC Player

[Service]
Type=simple
WorkingDirectory={{ PWD }}
ExecStart=php artisan run-vlc-player
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
